body {
    background: aliceblue;
}

h2 {
    display: block;
    font-size: 20px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-align: center
}

h3 {
    font-size: 90px;
    text-align: center;
    color: black;
}

p {
    font-family: monospace;
    font-size: 20px;
    margin: auto
}

.fourth p {
    color: #fff;
}

div {
    text-align: center;
    font-size: 40px;
    background-color: aliceblue;
}

.large-6 {}

#table tr td img {
    width: 300px;
    height: 250px;
}

td {}

table {}

.third {
    background-image: url(../frontend-exercise2/assets/assets/s_image.jpg);
}